<h4> Lista de Tarefas</h4>
<hr/>
    <div class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Nome</label>
        <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="novaTarefa.descricao"
            id="inlineFormInputName2" placeholder="Nome da lista">

        <button type="button" (click)="onSubmit()" class="btn btn-primary mb-2">Criar lista</button>
    </div>
<hr/>

<section>
    <ul class="list-group" *ngIf="tarefas.length > 0">
        <li class="list-group-item" *ngFor="let tarefa of tarefas">
            <div>
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">
                    {{tarefa.descricao}} 
                </label>
                <button type="button"  class="btn btn-primary my-1 float-right" [routerLink]="['/new', tarefa.id ]"  >
                    Nova atividade
                </button>
            </div>
            <br>
            <app-atividade-list-item [atividades]="tarefa.atividades">
            </app-atividade-list-item>
            <br>
        </li>
    </ul>
    <div *ngIf="tarefas.length == 0" class="alert alert-warning" role="alert">
        Nenhuma lista de tarefas cadastrada.
    </div>
   
</section>